- var cnt = 0

mixin social_block(icon, name, link, color)
    - cnt++
    a.social_block(id=`social_block_${cnt}` target='_blank' href=link onmouseover=`this.style.background=${color}`)
        i.icon(class=icon)
        span= name
    style= `#social_block_${cnt}:hover { background: ${color} }`

mixin social_block_simple(icon, link, color)
    - cnt++
    a.social_block(id=`social_block_${cnt}` target='_blank' href=link onmouseover=`this.style.background=${color}`)
        i.icon(class=icon)
    style= `#social_block_${cnt}:hover { background: ${color} }`

mixin social_si_block(icon, name, link, color)
    - cnt++
    a.social_block(id=`social_block_${cnt}` target='_blank' href=link onmouseover=`this.style.background=${color}`)
        img.icon(width='16' height='16' src=`https://cdn.simpleicons.org/${icon}/ffffff`)
        span= name
    style= `#social_block_${cnt}:hover { background: ${color} }`

mixin social_si_block_simple(icon, link, color)
    - cnt++
    a.social_block(id=`social_block_${cnt}` target='_blank' href=link onmouseover=`this.style.background=${color}`)
        img.icon(width='16' height='16' src=`https://cdn.simpleicons.org/${icon}/ffffff`)
    style= `#social_block_${cnt}:hover { background: ${color} }`
